<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="style.css">
    <title>Sobre mi</title>
</head>
<body>

    <div class="head">

    </div>

    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            Esta es mi pagina web :3
        </p>

        <div class="btn-home">
            
        </div>

    </header>

    <section class="content sau">
        <h2 class="title">¿Quién soy?</h2>
        <p>Mi nombre es Diana Laura Valencia Barragán, tengo 18 años 
        y mi signo sodiacal es scorpio.</p>

        <div class="box-container">
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>contacto</h3>
                <p>199843</p>
            </div>

            </div>
        </div>
    </section>

    <section class="content about">

        <h2 class="title">Gustos</h2>
        <p>Me gusta la musica, los animales y la comida.</p>

        <a href="https://www.youtube.com/playlist?list=PLaSzAlZOKBnFYml8myugvylOrGg19AFh_" target="_blank" class="btn">link para escuchar musica</a>
    </section>

    <section class="content price">

        <article class="content price">
            <h2 class="title">Habilidades</h2>
            <p> Sé pintar y hacer repostería (sé hacer pasteles pero no los sé decorar). 
            </p>
        </article>

    </section>

    <section class="content Teachable Machine Image Model">
        <h2 class="titulo">Teachable Machine Image Model</h2>
        <a href="tmi.html">tmi</a>
    </section>
    
</body>
</html>